<div class="container">
    <h1>Heading for form</h1>
    <form #login="ngForm" (ngSubmit)="submit(login)">
        <div class="form-group">
            <label for="firstname">First Name</label>
            <input #name="ngModel" required minlength="2" maxlength="7" type="text" name="firstname"
                class="form-control" ngModel>
            <div *ngIf="name.touched && name.invalid" class="alert alert-danger">
                <div *ngIf="name.errors?.['required']">
                    Name is required.
                </div>
                <div *ngIf="name.errors?.['minlength']">
                    Name is too short.
                </div>
            </div>
        </div>
        <pre></pre>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="text" name="password" class="form-control" ngModel>
        </div>
        <pre></pre>
        <button class="btn btn-primary" type="submit">Submit data</button>
    </form>
</div>