<!-- <button (click)="getInforFromServiceClass1()">Employee 1</button>
<ul class="list-group">
    <li *ngFor="let infor of infoReceive1" class="list-group-item">{{infor}}</li>
</ul>
<button (click)="getInforFromServiceClass2()">Employee 2</button>
<ul class="list-group">
    <li *ngFor="let infor of infoReceive2" class="list-group-item">{{infor}}</li>
</ul>
<button (click)="getInforFromServiceClass3()">Employee 3</button>
<ul class="list-group">
    <li *ngFor="let infor of infoReceive3" class="list-group-item">{{infor}}</li>
</ul>

<label>Select Employee</label>
<select class="form-select" (click)="getPersonData()">
    <option value="">Select Data</option>
    <option *ngFor="let person of getInfoPerson1 | keyvalue" [value]="person.key">{{ person.value.name }} | {{
        person.value.email }}</option>
</select> -->
<img src="assets/download.png">